.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 40px;
}

.link {
  padding: 8px 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  width: 100%;
}